<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <h2 class="text-center mb-4">Teacher Signup</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {{ form.csrf_token }}
                
                <div class="mb-3">
                    <label>Name</label>
                    {{ form.name(class="form-control", required=True) }}
                </div>
                <div class="mb-3">
                    <label>Email address</label>
                    {{ form.email(class="form-control", required=True) }}
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    {{ form.password(class="form-control", required=True) }}
                </div>
                <div class="mb-3">
                    <label>Mobile Number</label>
                    {{ form.mobile_number(class="form-control", required=True) }}
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
